$orange:      #F25803;
$dark-orange: #F44719;

@import '_assets/css/css-includes/mixins';
@import '_assets/css/css-includes/font';
@import '_assets/css/css-includes/reset';
@import '_assets/css/css-includes/base';
@import '_assets/css/css-includes/header';
@import '_assets/css/css-includes/footer';
@import '_assets/css/css-includes/imgbox';
@import '_assets/css/css-includes/elements';
@import '_assets/css/css-includes/slideshow';
@import '_assets/css/css-includes/page-specifics';
