.button {
  font-family: 'second_chances';
  font-size: 140%;
  color:#FFF;
  background-color:$orange;
  padding:8px;
  border:none;
  text-align:center;
  margin:0;
  display:inline-block;
  text-decoration:none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  @include transition(background-color, 0.2s);
  @include rounded(0.2em);
  @include box-shadow(2px, 2px, 6px, 2px, #000);
  &.sm{
  	font-size:100%;
  }	
	@media all and (max-width: 900px) {
		font-size:150%;
		margin-top:20px
  }

	@media all and (max-width: 640px) {
		font-size:130%;
		padding:3px 0;
		margin:3px;
	}
}

.button:hover{
  background-color:$dark-orange;
}