@mixin transition($property, $duration){
	-webkit-transition: $property $duration;
	-moz-transition: $property $duration;
	-ms-transition: $property $duration;
	-o-transition: $property $duration;
	transition: $property $duration;
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}