.ss-hidden{
	display:none;
}

.ss-index-number{
	@include transition(background, 0.25s);
	text-decoration:none;
	background:rgba(255, 255, 255, 0.5);
	@include rounded(50%);
	display:inline-block;
	height:1.4em;
	width:1.5em;
	padding-top:0.1em;
	color:$orange;
	font-family:'second_chances';
	vertical-align:center;
	text-align:center;
	margin:0 5px;
	&:hover{
		background:rgba(255, 255, 255, 0.75);
	}
}